<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="index.css">
  <title>Premium Login</title>
</head>
<body>

  <!-- Background Video -->
  <video autoplay muted loop playsinline class="bg-video">
    <source src="https://dr.savee-cdn.com/things/6/4/4cf04787dec21af1a6fdc7.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <!-- Overlay Login Box -->
  <div class="overlay">
    <h1>Hi I am <%= name %> from <%= city %></h1>

    <form method="post" action="/form-data">
      <input name="username" type="text" placeholder="Enter Your Name">
      <input type="number" name="age" placeholder="Enter Your Age">
      <input type="password" name="password" placeholder="Enter Your Password">
      <button>Submit</button>
    </form>
  </div>

</body>
</html>
